#Configuration
NODE_ENV=development

#Backend
PORT=3001

#Base de données (Prisma)
# DATABASE_URL="postgresql://user:password@localhost:5432/portfolio?schema=public"

#Frontend
FRONTEND_PORT=3000

NEXT_PUBLIC_API_URL="http://localhost:3001"

# Formspree
NEXT_PUBLIC_FORMSPREE_URL="..."

# GitHub API
GITHUB_ORG=...
GITHUB_TEAM_EPITECH=...
GITHUB_TOKEN=...
GITHUB_TEAM_POC=...
GITHUB_ANSSI=...


# Swagger
SWAGGER_SERVER_URL="http://localhost:3001"