#Configuration
NODE_ENV=development

#Backend
PORT=3001

#Base de données (Prisma)
# DATABASE_URL="postgresql://user:password@localhost:5432/portfolio?schema=public"

#Frontend
# NEXT_PUBLIC_API_URL="http://localhost:3001"
